<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1030503597813-4aum20pravshsrnst2v6qqosbt4p53e3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1030503597813-4aum20pravshsrnst2v6qqosbt4p53e3</string>
	<key>API_KEY</key>
	<string>AIzaSyA8ZCLBB_immghWvEdQYwbx_OL46--0cY8</string>
	<key>GCM_SENDER_ID</key>
	<string>1030503597813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eyepatch.monitor</string>
	<key>PROJECT_ID</key>
	<string>eyepatchapp</string>
	<key>STORAGE_BUCKET</key>
	<string>eyepatchapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1030503597813:ios:f5ef02d7b66920de58e7bc</string>
</dict>
</plist>